<html>
    <head>
        <title>Page Title</title>
        <link href="/assets/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <h1>El id de la persona es <%= ID %></h1>
        <p>My first paragraph.</p>
        <p> <% for(var i = 0; i < ID; i++) {%>
            <p>Hola</p>
        <% } %>  
        </p>
    </body>
    
</html>